[submodule "themes/oranges"]
	path = themes/oranges
	url = https://github.com/zchengsite/hexo-theme-oranges.git
[submodule "source/_posts/obisidian"]
	path = source/_posts/obisidian
	url = https://github.com/Eyeseas/obisidian.git
